{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint",
      "react"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/jsx-runtime"
    ],
    "rules": {
        "no-trailing-spaces": "error",
        "comma-dangle": ["error", "always-multiline"],
        "indent": ["error", 4],
        "react/self-closing-comp": "error",
        "eol-last": "error",
        "quotes": ["error", "single", { "avoidEscape": true }]
    }
}
